asgiref
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
cmake
colorama
crispy-bootstrap5
cryptography
cvzone
distlib
Django
django-crispy-forms
django-environ
dlib 
face-recognition
face-recognition-models
filelock
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
msgpack
numpy
opencv-contrib-python
opencv-python
Pillow
pipenv
platformdirs
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
PyJWT
pyparsing
requests
rsa
six
sqlparse
tzdata
uritemplate
urllib3
virtualenv
