asgiref
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
cmake
colorama
crispy-bootstrap5
cryptography
cvzone
distlib
Django
django-crispy-forms
django-environ
dlib 
face-recognition
face-recognition-models
filelock
firebase-admin
google-api-core==2.11.0
google-api-python-client==2.89.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpcio==1.54.2
grpcio-status
httplib2
idna
msgpack
numpy
opencv-contrib-python
opencv-python
Pillow
pipenv
platformdirs
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
PyJWT
pyparsing
requests
rsa
six
sqlparse
tzdata
uritemplate
urllib3
virtualenv
